<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/login_styles.css" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- <marquee behavior="rotate" direction="right">Mercado Liebre</marquee> -->
        <div class="header-top-bar">
            <a href="/" class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Aquí va una imagen"></a>
            
            <form class="searcher">
                <input class="search" type="text" name="search" placeholder="Buscar productos, marcas">
                <button class="icon-search" type="reset"><i class="fas fa-search"></i></button>  
            </form>
            
            <h2 class="header-text">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars icon-menu"></i>
        </a>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/" method="">
            <div class="userName">
                <div class="userName-label">
                    <label for="userName">Nombre de usuari@</label>
                </div>
                <div class="userName-input">
                    <input type="text" name="userName" id="userName" required minlength="4" maxlength="10">
                </div>
            </div>

            <div class="password">
                <div class="password-label">
                    <label for="pass">Contraseña</label>
                </div>
                <div class="password-input">
                    <input type="password" name="pass" id="pass" required minlength="8" maxlength="16">
                </div>
            </div>

            <div class="sendButton">
                <button type="submit" value="Enviar">Enviar</button>
            </div>

        </form>

    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card footer-icon"></i>
            <h5 class="footer-item">Pagá con tarjeta o en efectivo</h5>
            <p class="footer-description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift footer-icon"></i>
            <h5 class="footer-item">Envío gratis desde $ 2.500</h5>
            <p class="footer-description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield footer-icon"></i>
            <h5 class="footer-item">Seguridad, de principio a fin</h5>
            <p class="footer-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <br>

        <section>
            <p class="footer-description">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
    
</body>
</html>