/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-top-bar{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
}

.header-text{
    margin: auto;
    color: #222222;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.burger-menu{
    color: #ebebeb;
    background-color: #03264c;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.searcher{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.search{
    text-align: left;
    font-size: 16px;
    padding: 12px 2px 10px 6px;
    margin-left: 10px;
    background-color: #ebebeb;
    color: #666;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
}

.search:focus{
    outline: none;
}

.icon-search{
    padding: 12px 3px 13px;
    background-color: #ebebeb;
    color: #666;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

.main-navbar{
    display: none;
}

.left-navbar, .right-navbar{
    list-style: none;
    padding-left: 0px;
    text-align: left
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    font-size: 17px;
    padding: 5px 0;
}

.main-navbar i{
    color: #222222;
    padding-left: 3px;
}

.banner{
    width: 100%;
}

body{
    background-color: white;
    font-family: Roboto;
}

main{
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 20px 0 10px;
    border-radius: 7px;
}

.register-form{
    margin-top: 234px;
}

.input{
    width: 100%;
    padding: 10px 15px;
    color: #222222;
    border-radius: 3px;
    border: solid #222222 0.25px;

}

.field, .radio, .checkbox{
    text-align: left;
    padding: 15px 20px;
    font-size: 16px;
    color: #222222;
}

.option-radio, .option-checkbox{
    padding-left: 30px;
}

.options-radio{
    display: flex;
    justify-content: left;
}

.option-radio label, .option-checkbox label{
    padding: 0 10px;
}

input[type="date" i], input[type="file" i] {
    font-family: Roboto;
    font-size: 14px;
}

.div-buttons{
    padding: 10px 20px 20px;
}

.button{
    width: 100%;
    padding: 10px;
    background-color: #03264c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px 0;
}

footer{
    background-color: white;
    text-align: center;
    padding: 10px;
}

.footer-icon{
    padding-top: 30px;
    font-size: 30px;
    color: #3483fa;
}

.footer-item{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer-description{
    font-size: 12px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2px;
}

@media (min-width: 360px){
    .main-navbar{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .burger-menu{
        display: none;
    }
    .register-form{
        margin-top: 300px;
    }
}

@media (min-width: 768px){
    .header-top-bar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        align-items: center;
    }
    .logo{
        width: 28%;
    }
    .header-text{
        display: block;
        font-size: 16px;
        width: 40%;
        margin: 0 2px;
        align-items: center;
    }
    .searcher{
        width: 30%;
    }
    .search{
        padding: 6px 2px 5px 6px;
    }
    .icon-search{
        padding: 7px 3px;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 8px;
    }
    body{
        background-color: #ebebeb;
    }
    main{
        background-color: white;
        padding: 20px 0 0;
        margin: 20px auto;
        max-width: 50%;
        }
        .register-form{
            margin-top: 150px;
        }
}

@media (min-width: 1200px){
    .header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .header-text{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    .register-form{
        margin-top: 200px;
    }
}